<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MayFly404 Home</title>

    <script>
      (function(d,t) {
        var BASE_URL="https://app.chatwoot.com";
        var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=BASE_URL+"/packs/js/sdk.js";
        s.parentNode.insertBefore(g,s);
        g.onload=function(){
          window.chatwootSDK.run({
            websiteToken: '9wwQZXb5qs3SjWZ1RUCqxcDm',
            baseUrl: BASE_URL
          })
        }
      })(document,"script");
    </script>
    

</head>
<body>
    <h1 style="text-align: center;">Still in development</h1>

    <div>
        <a href=""></a>
    </div>

    <div>
        <a href="/cybered">MayFly404 Sites One</a>
    </div>

</body>
</html>